<div class="modal-header bg-primary">
    <h3 class="modal-title">{{dialogParam.label | translate}}</h3>
</div>
<div class="modal-body">
    <div>{{dialogParam.text | translate}}</div>
    <div>{{::dialogParam.extra}}</div>
    <div ng-show="showNote">
        <form name="dialog">
            <common-form-text-area id="note" headless ng-model="note"></common-form-text-area>
        </form>
    </div>
</div>

<div class="modal-footer bg-white">
    <button ng-show="dialogParam.buttonOk" id="modalDialogBtnOK" class="btn btn-add" ng-click="confirmOK()" autofocus>
        {{dialogParam.buttonOk | translate}}
    </button>
    <button ng-show="dialogParam.buttonCancel" id="modalDialogBtnCancel" class="btn btn-warning" data-dismiss="modal"
            ng-click="confirmCancel()">
        {{dialogParam.buttonCancel | translate}}
    </button>
</div>